body {
  font-family: "Anek Bangla", sans-serif;
}
.admin{
    width: 100%;
    height: 100vh;
    background-color: #222;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.admin h1{
    color: #fff;
    font-size: calc(2.5rem + 0.5vw);
    font-weight: 700;
    margin-top: -3rem;
}
.admin h1 span{
    color: #fcb913;
}
.admin form{
    background-color: #111;
    width: 40%;
    padding: 3rem;
    border-radius: 20px;
    margin-top: 1.5rem;
    box-shadow: rgba(173, 173, 173, 0.2) 0px 2px 8px 0px;
}
.admin form .inputBox{
    margin-bottom: 1.5rem;
    position: relative;
}
.admin form input{
    padding: 1rem 2.2rem;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: calc(1.1rem + 0.5vw);
    border-bottom: 2px solid #222;
    transition: all 0.1s ease;
}
.admin form input:focus{
    border-bottom: 2px solid #444;
}
.admin form input::placeholder{
    color: #fff;
}
.admin form i{
    color: #fcb913;
    position: absolute;
    left: 0;
    top: 29%;
    font-size: calc(1rem + 0.5vw);
}
.admin form button{
    width: 32%;
    margin: 2rem auto 0 auto;
    display: block;
    font-size: calc(1rem + 0.5vw);
    font-weight: 500;
    border: none;
    background-color: #fff;
    padding: 0.7rem 1rem;
    border-top-right-radius: 28px;
    border-bottom-left-radius: 28px;
    transition: all 0.15s ease;
}
.admin form button:hover{
    background-color: #fcb913;
    color: #fff;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px){
    .admin h1{
        font-size: calc(2.3rem + 0.5vw);
        margin-top: -2.5rem;
    }
    .admin form{
        padding: 2.5rem;
        margin-top: 1.5rem;
    }
    .admin form input{
        padding: 1rem 2rem;
        font-size: calc(1rem + 0.5vw);
    }
    .admin form i{
        top: 30.5%;
        font-size: calc(0.9rem + 0.5vw);
    }
    .admin form button{
        margin: 2rem auto 0 auto;
        font-size: calc(0.9rem + 0.5vw);
        padding: 0.6rem 1rem;
        border-top-right-radius: 27px;
        border-bottom-left-radius: 27px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px){
    .admin h1{
        font-size: calc(2.1rem + 0.5vw);
        margin-top: -2rem;
    }
    .admin form{
        padding: 2rem;
        margin-top: 1.3rem;
    }
    .admin form .inputBox{
        margin-bottom: 1.3rem;
    }
    .admin form input{
        padding: 1rem 1.9rem;
        font-size: calc(0.9rem + 0.5vw);
        border-bottom: 1.5px solid #222;
    }
    .admin form input:focus{
        border-bottom: 1.5px solid #444;
    }
    .admin form i{
        top: 31%;
        font-size: calc(0.85rem + 0.5vw);
    }
    .admin form button{
        margin: 1.5rem auto 0 auto;
        font-size: calc(0.85rem + 0.5vw);
        padding: 0.5rem 1rem;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 25px;
    }
}