#careers-stack-section-1{
    background-color: #111;
    min-height: 100vh;
}
#careers-stack-section-2{
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    background-color: #222;
    box-shadow: 0px -7px 10px 0px #fcba1340;
}

/* Careers Form Start */
.careers{
    padding: 5rem 5% 12rem 5%;
}
.careers h1{
    color: #fff;
    font-size: calc(5.5rem + 0.5vw);
    font-weight: 700;
    /* transform: translateY(70px); */
    /* opacity: 0; */
}
.careers h1 span{
    color: #fcb913;
}
.careers p{
    color: #fff;
    font-size: calc(2rem + 0.5vw);
    font-weight: 550;
    margin-top: 1rem;
    width: max-content;
    transition: color 0.3s ease;
    /* transform: translateY(50px); */
    /* opacity: 0; */
}
.careers p:hover{
    color: #fcb913;
}

.careers .careers-form{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
}
.careers form{
    width: 80%;
    background-color: #1d1d1d;
    padding: 2rem 4rem 4rem 4rem;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.careers form .input-box{
    width: 48%;
}
.careers form .resume-box,
.careers form .remarks-box{
    width: 100%;
}
.careers form input,
.careers form textarea{
    width: 100%;
    padding: 1.5rem 1rem;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #9d9d9d;
    margin-bottom: 0.5rem;
    color: #fff;
    font-size: calc(1rem + 0.5vw);
}
.careers form input:focus,
.careers form textarea:focus{
    border-bottom: 2px solid #fff;
}
.careers form input::placeholder,
.careers form textarea::placeholder{
    color: #fff;
}
.careers form input[type="number"]::-webkit-inner-spin-button{
    display: none;
}
.careers form textarea{
    max-height: 12rem;
    min-height: 8rem;
    padding: 1.5rem 1rem 0 1rem;
    margin-bottom: 1rem;
}
.careers form button{
    background-color: #fff;
    border: none;
    color: #000;
    font-size: calc(0.85rem + 0.5vw);
    font-weight: 500;
    padding: 1.2rem 5rem;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px;
    transition: all 0.2s ease;
}
.careers form button:hover{
    background-color: #fcb913;
    color: #fff;
}

.resume-box{
    position: relative;
}
.resume-box input[type="file"] {
    position: absolute;
    bottom: 0;
    left: 12rem;
    opacity: 0;
    pointer-events: none;
    height: 0;
    width: 0;
}
.custom-file-label{
    width: 100%;
    display: block;
    padding: 1.5rem 1rem;
    background-color: transparent;
    border-bottom: 2px solid #9d9d9d;
    margin-bottom: 0.5rem;
    color: #fff;
    font-size: calc(1rem + 0.5vw);
    cursor: pointer;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px){
    .careers{
        padding: 4.5rem 5% 11rem 5%;
    }
    .careers h1{
        font-size: calc(5rem + 0.5vw);
    }
    .careers p{
        font-size: calc(1.85rem + 0.5vw);
        margin-top: 0.8rem;
    }
    .careers .careers-form{
        margin-top: 3.5rem;
    }
    .careers form{
        padding: 1.5rem 3.5rem 3.5rem 3.5rem;
    }
    .careers form input,
    .careers form textarea{
        padding: 1.4rem 1rem;
        font-size: calc(0.95rem + 0.5vw);
    }
    .careers form textarea{
        min-height: 7.5rem;
        padding: 1.4rem 1rem 0 1rem;
    }
    .careers form button{
        font-size: calc(0.8rem + 0.5vw);
        border-top-right-radius: 33px;
        border-bottom-left-radius: 33px;
    }
    .resume-box input[type="file"] {
        left: 10rem;
    }
    .custom-file-label{
        padding: 1.4rem 1rem;
        font-size: calc(0.95rem + 0.5vw);
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px){
    .careers{
        padding: 4rem 5% 10rem 5%;
    }
    .careers h1{
        font-size: calc(4.5rem + 0.5vw);
    }
    .careers p{
        font-size: calc(1.65rem + 0.5vw);
        margin-top: 0.8rem;
    }
    .careers .careers-form{
        margin-top: 3.2rem;
    }
    .careers form{
        padding: 1.2rem 3rem 3rem 3rem;
    }
    .careers form input,
    .careers form textarea{
        padding: 1.2rem 1rem;
        border-bottom: 1.7px solid #9d9d9d;
        font-size: calc(0.9rem + 0.5vw);
    }
    .careers form input:focus,
    .careers form textarea:focus{
        border-bottom: 1.7px solid #fff;
    }
    .careers form textarea{
        min-height: 7rem;
        padding: 1.2rem 1rem 0 1rem;
    }
    .careers form button{
        font-size: calc(0.75rem + 0.5vw);
        padding: 1rem 4.5rem;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 30px;
    }
    .resume-box input[type="file"] {
        left: 9rem;
    }
    .custom-file-label{
        padding: 1.3rem 1rem;
        border-bottom: 1.7px solid #9d9d9d;
        font-size: calc(0.9rem + 0.5vw);
    }
}
    
/* Careers Form End */