body {
  font-family: "Anek Bangla", sans-serif;
}

.dashboard-container{
    background-color: #222;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
}
.dashboard-container aside{
    background-color: #111;
    width: 22%;
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.dashboard-container aside img{
    width: 140%;
}
.dashboard-container aside .nav{
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.dashboard-container aside .nav button{
    background-color: #333;
    padding: 1rem 1rem;
    text-align: left;
    font-size: calc(1rem + 0.5vw);
    font-weight: 500;
    color: #fff;
}
.dashboard-container aside .nav button.active{
    background-color: #fcb913;
}
.dashboard-container aside .nav button i{
    margin-right: 7px;
}
.dashboard-container aside .nav button:nth-child(2) i{
    font-size: calc(0.85rem + 0.5vw);
}
.dashboard-container aside .logout{
    margin-top: auto;
}
.dashboard-container aside .logout a{
    font-size: calc(0.8rem + 0.5vw);
    color: #fff;
    display: flex;
    text-decoration: none;
    width: 45px;
    height: 45px;
    border-radius: 5px;
    background-color: #333;
    text-align: center;
    display: block;
    line-height: 49px;
    transition: all 0.1s ease;
}
.dashboard-container aside .logout a i{
    font-size: calc(0.8rem + 0.5vw);
    margin-left: -1px;
}
.dashboard-container aside .logout a:hover{
    background-color: rgb(255, 58, 58);
}

.dashboard-container main{
    width: 78%;
    background-color: #222;
    padding: 1.5rem 1.5rem 1rem 1.5rem;
}
.dashboard-container main h1{
    color: #fff;
    font-size: calc(2.5rem + 0.5vw);
    font-weight: 700;
    text-align: center;
}
.dashboard-container h1 span{
    color: #fcb913;
}
.dashboard-content{
    border-radius: 10px;
    margin-top: 1rem;
    height: 84vh;
    overflow: hidden;
}
.dashboard-content .tab-content-inner{
    border-radius: 10px;
    height: 79vh;
    padding-bottom: 1rem;
    overflow-y: scroll;
}
.dashboard-content .tab-content-inner::-webkit-scrollbar {
    display: none;
}
/* .dashboard-content::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 10px;}
.dashboard-content::-webkit-scrollbar-thumb {
    background-color: #fcb913;
    border-radius: 10px;
} */
/* Firefox */
/* .dashboard-content{
    scrollbar-width: thin;
    scrollbar-color: #fcb913 #ffffff 
} */

.dashboard-content .tool-bar{
    margin-bottom: 0.8rem;
}
.dashboard-content h2{
    color: #fff;
    font-size: calc(1.7rem + 0.5vw);
    font-weight: 700;
}
.dashboard-content h2 span{
    color: #fcb913;
}
.dashboard-content .data-row{
    padding: 1.2rem;
    border-radius: 12px;
    background-color: #111;
    margin-top: 1.3rem;
    color: #fff;
}
.dashboard-content .data-row:first-child{
    margin-top: 0;
}
.dashboard-content .data-row p{
    margin: 0;
    margin-bottom: 0.5rem;
    font-size: calc(0.7rem + 0.5vw);
    font-weight: 500;
}
.dashboard-content .data-row p:last-child{
    margin-bottom: 0;
}
.dashboard-content .data-row p span{
    color: #fcb913;
    margin-right: 7px;
}
.dashboard-content .data-row p a{
    color: #fff;
    text-decoration: none;
}
.dashboard-content .data-row p a:hover{
    text-decoration: underline;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px){
    .dashboard-container aside{
        padding: 1.8rem 1.3rem;
    }
    .dashboard-container aside .nav{
        margin-top: 2.4rem;
    }
    .dashboard-container aside .nav button{
        padding: 0.9rem 0.9rem;
        font-size: calc(0.9rem + 0.5vw);
    }
    .dashboard-container aside .nav button i{
        margin-right: 6px;
    }
    .dashboard-container aside .nav button:nth-child(2) i{
        font-size: calc(0.8rem + 0.5vw);
    }
    .dashboard-container aside .logout a{
        font-size: calc(0.7rem + 0.5vw);
        width: 42px;
        height: 41.5px;
        line-height: 46px;
    }
    .dashboard-container aside .logout a i{
        font-size: calc(0.75rem + 0.5vw);
        margin-left: -0.7px;
    }
    .dashboard-container main{
        padding: 1.3rem 1.3rem 0.8rem 1.3rem;
    }
    .dashboard-container main h1{
        font-size: calc(2.3rem + 0.5vw);
    }
    .dashboard-content{
        margin-top: 0.9rem;
    }
    .dashboard-content .tool-bar{
        margin-bottom: 0.9rem;
    }
    .dashboard-content h2{
        font-size: calc(1.5rem + 0.5vw);
    }
    .dashboard-content .data-row{
        padding: 1.1rem;
        margin-top: 1.2rem;
    }
    .dashboard-content .data-row p{
        margin-bottom: 0.45rem;
        font-size: calc(0.65rem + 0.5vw);
    }
    .dashboard-content .data-row p span{
        margin-right: 6px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px){
    .dashboard-container aside{
        padding: 1.6rem 1.15rem;
    }
    .dashboard-container aside .nav{
        margin-top: 2.2rem;
        gap: 0.9rem;
    }
    .dashboard-container aside .nav button{
        padding: 0.75rem 0.8rem;
        font-size: calc(0.8rem + 0.5vw);
    }
    .dashboard-container aside .nav button i{
        margin-right: 6px;
    }
    .dashboard-container aside .nav button:nth-child(2) i{
        font-size: calc(0.75rem + 0.5vw);
    }
    .dashboard-container aside .logout a{
        font-size: calc(0.5rem + 0.5vw);
        width: 38px;
        height: 37.5px;
        line-height: 43.5px;
    }
    .dashboard-container aside .logout a i{
        font-size: calc(0.7rem + 0.5vw);
        margin-left: -0.55px;
    }
    .dashboard-container main{
        padding: 1.1rem 1.1rem 0.6rem 1.1rem;
    }
    .dashboard-container main h1{
        font-size: calc(2.1rem + 0.5vw);
    }
    .dashboard-content{
        margin-top: 0.8rem;
    }
    .dashboard-content .tool-bar{
        margin-bottom: 0.8rem;
    }
    .dashboard-content h2{
        font-size: calc(1.3rem + 0.5vw);
    }
    .dashboard-content .data-row{
        padding: 1rem;
        margin-top: 1.1rem;
    }
    .dashboard-content .data-row p{
        margin-bottom: 0.4rem;
        font-size: calc(0.6rem + 0.5vw);
    }
    .dashboard-content .data-row p span{
        margin-right: 5.5px;
    }
}