*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: unset !important; 
}
body {
  background-color: #111;
  font-family: "Anek Bangla", sans-serif;
}

::selection{
  background-color: #fcb913;
  color: #fff;
}

::-webkit-scrollbar{
  width: 10px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb{
  background-color: #808080;
  border-radius: 50px;
}
@media screen and (min-width: 1230px) and (max-width: 1399px){
  ::-webkit-scrollbar{
    width: 8.5px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1229px){
  ::-webkit-scrollbar{
    width: 8px;
  }
}

/* Stacking Sections Start */
.stacking-sections-container{
    overflow: hidden;
}
.stack-section{
    position: relative;
    width: 100%;
    overflow: hidden;
}
#home-stack-section-1{
    height: 100vh;
}
#home-stack-section-2{
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    background-color: #222;
    box-shadow: 0px -7px 10px 0px #fcba1340;
}
#home-stack-section-3{
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    background-color: #111;
    box-shadow: 0px -7px 10px 0px #fcba1340;
}
#home-stack-section-4{
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    background: linear-gradient(to bottom, #222, #111 25%);
    box-shadow: 0px -7px 10px 0px #fcba1340;
}
#home-stack-section-5{
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    background-color: #222;
    box-shadow: 0px -7px 10px 0px #fcba1340;
}
#home-stack-section-6{
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    background-color: #111;
    box-shadow: 0px -7px 10px 0px #fcba1340;
}
#home-stack-section-7{
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    background-color: #222;
    box-shadow: 0px -7px 10px 0px #fcba1340;
}
/* Stacking Sections End */

/* Custom Cursor Start */
.custom-cursor,
.custom-cursor-outer {
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate3d(-50%, -50%, 0);
    z-index: 10000;
    will-change: transform;
}
.custom-cursor {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fcb913;
    transition: transform 0.2s ease;
    transform-origin: center center;
}
.custom-cursor-outer {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.4s cubic-bezier(.2, .9, .2, 1);
    transform-origin: center center;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px){
  .custom-cursor-outer {
    width: 55px;
    height: 55px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1229px){
  .custom-cursor-outer {
    width: 50px;
    height: 50px;
    border: 1.8px solid #fff;
  }
}
/* Custom Cursor End */

/* Preloader Start */
#preloader {
  position: fixed;
  inset: 0;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 11000;
  transition: opacity 0.6s ease, visibility 0.6s ease;
}
.loader-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
#preloader.hide {
  opacity: 0;
  visibility: hidden;
}
/* Preloader End */

/* Navbar Start */
.navbar{
    /* background-color: #1e1e1e; */
    background-color: #111;
    padding: 1rem 5%;
}
.navbar .navbar-brand img{
    width: 350px;
}
.navbar .navbar-nav{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 1.5rem;
}
.navbar .nav-link{
  color: #fff;
  font-weight: 600;
  font-size: calc(0.65rem + 0.5vw);
}
.navbar .nav-link.active,
.navbar .nav-link:hover{
  color: #fcb913;
}
.navbar .social-btns{
  display: flex;
  gap: 1rem;
}
.navbar .social-btns a{
  background-color: #282828;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  display: block;
  color: #fff;
  font-size: calc(0.8rem + 0.5vw);
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  transition: all 0.2s ease;
}
.navbar .social-btns a:hover{
  background-color: #fcb913;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px){
  .navbar{
    padding: 0.7rem 5%;
  }
  .navbar .navbar-brand img{
    width: 330px;
  }
  .navbar .nav-link{
    font-size: calc(0.6rem + 0.5vw);
  }
  .navbar .social-btns a{
    width: 42px;
    height: 42px;
    line-height: 42px;
    font-size: calc(0.75rem + 0.5vw);
  }
}

@media screen and (min-width: 992px) and (max-width: 1229px){
  .navbar{
    padding: 0.55rem 5%;
  }
  .navbar .navbar-brand img{
    width: 300px;
  }
  .navbar .nav-link{
    font-size: calc(0.55rem + 0.5vw);
  }
  .navbar .social-btns a{
    width: 36px;
    height: 36px;
    line-height: 36px;
    font-size: calc(0.7rem + 0.5vw);
  }
}
/* Navbar End */

/* Banner Start */
.banner{
  overflow: hidden;
}
.banner img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Banner End */

/* Three Fourth Network Start */
.three-fourth-network{
    padding: 5rem 5% 3rem 5%;
}
.three-fourth-network .three-fourth-network-top{
  display: flex;
  justify-content: space-between;
}
.three-fourth-network .three-fourth-network-content{
  width: 53%;
}
.three-fourth-network .three-fourth-network-content h1{
  color: #fff;
  font-size: calc(6rem + 0.5vw);
  font-weight: 700;
  white-space: nowrap;
  margin-bottom: 2rem;
}
.three-fourth-network .three-fourth-network-content h1 span{
  color: #fcb913;
}
.three-fourth-network .three-fourth-network-content p{
  color: #fff;
  font-size: calc(0.8rem + 0.5vw);
  font-weight: 500;
  transition: color 0.2s ease;
}
.three-fourth-network .three-fourth-network-bottom p{
  color: #fff;
  font-size: calc(0.8rem + 0.5vw);
  font-weight: 500;
  transition: color 0.2s ease;
}
.three-fourth-network .three-fourth-network-content p:hover,
.three-fourth-network .three-fourth-network-bottom p:hover{
  color: #fcb913;
}
.three-fourth-network .three-fourth-network-image{
  width: 45%;
}
.three-fourth-network .three-fourth-network-image img{
  width: 100%;
  margin-top: -3rem;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px){
  .three-fourth-network {
    padding: 4.5rem 5% 2rem 5%;
  }
  .three-fourth-network .three-fourth-network-content h1 {
    font-size: calc(5.5rem + 0.5vw);
    margin-bottom: 1.5rem;
  }
  .three-fourth-network .three-fourth-network-content p {
    font-size: calc(0.75rem + 0.5vw);
  }
  .three-fourth-network .three-fourth-network-bottom p {
    font-size: calc(0.75rem + 0.5vw);
  }
}

@media screen and (min-width: 992px) and (max-width: 1229px){
  .three-fourth-network {
    padding: 4rem 5% 1rem 5%;
  }
  .three-fourth-network .three-fourth-network-content h1 {
    font-size: calc(5rem + 0.5vw);
    margin-bottom: 1.5rem;
  }
  .three-fourth-network .three-fourth-network-content p {
    font-size: calc(0.65rem + 0.5vw);
  }
  .three-fourth-network .three-fourth-network-bottom p {
    font-size: calc(0.65rem + 0.5vw);
  }
  .three-fourth-network .three-fourth-network-image img {
    margin-top: -1.3rem;
  }
}
/* Three Fourth Network End */

/* Trusted By Start */
.trusted-by{
  padding: 4rem 5% 5.5rem 5%;
}
.trusted-by h2{
  color: #fff;
  font-size: calc(6rem + 0.5vw);
  font-weight: 700;
}
.trusted-by h2 span,
.trusted-by h3 span{
  color: #fcb913;
}
.trusted-by-card-row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 3rem;
}
.trusted-by-card-row .trust-card{
  width: 23%;
  margin-bottom: 2.3rem;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: rgba(187, 187, 187, 0.266) 0px 2px 8px 0px;
}
.trusted-by-card-row .trust-card img{
  width: 100%;
  border-radius: 20px;
}
.trusted-by h3{
  color: #fff;
  font-size: calc(4rem + 0.5vw);
  font-weight: 700;
  margin-top: 2.5rem;
}
.trusted-by .clients-slider {
  background-color: #2c2c2c;
  margin-top: 3rem;
  border-radius: 35px;
  padding: 1.7rem 0;
  overflow: hidden;
  display: flex;
  box-shadow: 6px -6px 10px 0px #d1d1d140;
}
.trusted-by .clients-slider img {
  flex: 0 0 20%; /* 5 images in viewport */
  max-width: 18%;
  filter: grayscale(100%) invert(100);
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px){
  .trusted-by{
    padding: 3.5rem 5% 6rem 5%;
  }
  .trusted-by h2{
    font-size: calc(5.5rem + 0.5vw);
  }
  .trusted-by-card-row .trust-card{
    margin-bottom: 2.2rem;
  }
  .trusted-by h3{
    font-size: calc(3.5rem + 0.5vw);
    margin-top: 2.2rem;
  }
  .trusted-by .clients-slider {
    margin-top: 3rem;
    border-radius: 32px;
    box-shadow: 5.5px -5.5px 10px 0px #d1d1d140;
  }
  .trusted-by .clients-slider img {
    max-width: 17%;
  }
}

@media screen and (min-width: 992px) and (max-width: 1229px){
  .trusted-by{
    padding: 3rem 5% 5rem 5%;
  }
  .trusted-by h2{
    font-size: calc(5rem + 0.5vw);
  }
  .trusted-by-card-row{
    margin-top: 2rem;
  }
  .trusted-by-card-row .trust-card{
    margin-bottom: 1.85rem;
  }
  .trusted-by h3{
    font-size: calc(3rem + 0.5vw);
    margin-top: 2rem;
  }
  .trusted-by .clients-slider {
    margin-top: 2.5rem;
    border-radius: 30px;
    box-shadow: 5px -5px 10px 0px #d1d1d140;
  }
  .trusted-by .clients-slider img {
    max-width: 17%;
  }
}
/* Trusted By End */

/* Meet The Team Start */
.meet-the-team{
  padding: 4rem 5% 6rem 5%;
}
.meet-the-team h4{
  color: #fff;
  font-size: calc(5.5rem + 0.5vw);
  font-weight: 700;
  margin-bottom: 2rem;
}
.meet-the-team h4 span{
  color: #fcb913;
}
.meet-the-team-row{
  margin-bottom: 3.5rem;
}
.meet-the-team-row-head p{
  color: #fff;
  font-size: calc(2rem + 0.5vw);
  font-weight: 500;
  width: max-content;
  transition: color 0.3s ease;
}
.meet-the-team-row-head p:hover{
  color: #fcb913;
}
.meet-the-team-row-content{
  display: flex;
  justify-content: space-between;
  margin-top: 2.5rem;
}
.meet-the-team-row-content .team-card{
  width: 28%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  padding: 3rem 3rem 2rem 3rem;
}
.meet-the-team-row-content .team-card img{
  width: 100%;
  border-radius: 5px;
}
.meet-the-team-row-content .team-card a{
  color: #fff;
  font-size: calc(1.1rem + 0.5vw);
  margin-top: 1.5rem;
  display: block;
  text-decoration: none;
  transition: color 0.3s ease;
}
.meet-the-team-row-content .team-card a:hover{
  color: #fcb913;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px){
  .meet-the-team{
    padding: 3.5rem 5% 6rem 5%;
  }
  .meet-the-team h4{
    font-size: calc(5rem + 0.5vw);
    margin-bottom: 1.7rem;
  }
  .meet-the-team-row{
    margin-bottom: 3rem;
  }
  .meet-the-team-row-head p{
    font-size: calc(1.7rem + 0.5vw);
  }
  .meet-the-team-row-content{
    margin-top: 2rem;
  }
  .meet-the-team-row-content .team-card{
    padding: 2.8rem 2.8rem 1.8rem 2.8rem;
  }
  .meet-the-team-row-content .team-card a{
    font-size: calc(1.1rem + 0.5vw);
    margin-top: 1.5rem;
  }
}

@media screen and (min-width: 992px) and (max-width: 1229px){
  .meet-the-team{
    padding: 2.8rem 5% 6.5rem 5%;
  }
  .meet-the-team h4{
    font-size: calc(4.5rem + 0.5vw);
    margin-bottom: 1.3rem;
  }
  .meet-the-team-row{
    margin-bottom: 2.4rem;
  }
  .meet-the-team-row-head p{
    font-size: calc(1.5rem + 0.5vw);
  }
  .meet-the-team-row-content{
    margin-top: 1.5rem;
  }
  .meet-the-team-row-content .team-card{
    padding: 2.5rem 2.5rem 1.5rem 2.5rem;
  }
  .meet-the-team-row-content .team-card a{
    font-size: calc(1rem + 0.5vw);
    margin-top: 1.4rem;
  }
}
/* Meet The Team End */

/* Hall of Fame Start */
.hall-of-fame{
  padding: 4rem 5% 3.8rem 5%;
}
.hall-of-fame h5{
  color: #fff;
  font-size: calc(5.5rem + 0.5vw);
  font-weight: 700;
  margin-bottom: 2rem;
}
.hall-of-fame h5 span{
  color: #fcb913;
}
.hall-of-fame .awards-slider{
  width: 100%;
  margin-top: 4rem;
  padding-bottom: 2rem;
  padding-right: 5px;
}
.hall-of-fame .award-box {
  text-align: center;
  padding: 0.5rem 1.7rem;
  border-left: 1px solid #535353;
}
.hall-of-fame .award-box img{
  width: 100%;
  height: auto;
  display: block;
  background-color: #313131;
  border-radius: 50%;
  padding: 1.8rem;
  box-shadow: rgba(255, 255, 255, 0.374) 0px 3px 10px 0px;
  transition: all 0.3s ease-in-out;
}
.hall-of-fame .award-box img:hover{
  background-color: #3b3b3b;
  box-shadow: #ffc02e8e 0px 3px 10px 0px;
}
.hall-of-fame .award-box p{
  margin-top: 1rem;
  font-size: calc(0.7rem + 0.5vw);
  color: #fff;
}
.hall-of-fame .swiper-pagination {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 1rem;
}
.hall-of-fame .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background: #666;
  opacity: 1;
  border-radius: 3px;
  transition: all 0.3s ease;
}
.hall-of-fame .swiper-pagination-bullet:hover {
  background: #535353;
}
.hall-of-fame .swiper-pagination-bullet-active {
  background: #fcb913 !important;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px){
  .hall-of-fame{
    padding: 3.5rem 5% 2rem 5%;
  }
  .hall-of-fame h5{
    font-size: calc(5rem + 0.5vw);
    margin-bottom: 1.7rem;
  }
  .hall-of-fame .awards-slider{
    margin-top: 3.5rem;
    padding-bottom: 2rem;
  }
  .hall-of-fame .award-box {
    padding: 0.5rem 1.7rem;
  }
  .hall-of-fame .award-box img{
    padding: 1.5rem;
  }
  .hall-of-fame .award-box p{
    margin-top: 1.2rem;
    font-size: calc(0.63rem + 0.5vw);
  }
  .hall-of-fame .swiper-pagination {
    gap: 6px;
    margin-top: 1.5rem;
  }
  .hall-of-fame .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1229px){
  .hall-of-fame{
    padding: 3rem 5% 1rem 5%;
  }
  .hall-of-fame h5{
    font-size: calc(4.5rem + 0.5vw);
    margin-bottom: 1.5rem;
  }
  .hall-of-fame .awards-slider{
    margin-top: 2.5rem;
    padding-bottom: 2.2rem;
  }
  .hall-of-fame .award-box {
    padding: 0.5rem 1.4rem;
  }
  .hall-of-fame .award-box img{
    padding: 1.3rem;
  }
  .hall-of-fame .award-box p{
    margin-top: 1.2rem;
    font-size: calc(0.58rem + 0.5vw);
  }
  .hall-of-fame .swiper-pagination {
    gap: 3px;
    margin-top: 1.5rem;
  }
  .hall-of-fame .swiper-pagination-bullet {
    width: 13px;
    height: 13px;
  }
}
/* Hall of Fame End */

/* .awards-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-top: 20px;
}

.awards-controls .swiper-button-prev,
.awards-controls .swiper-button-next {
    position: static;
    width: 40px;
    height: 40px;
    background: #ffc107;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
    margin-top: 1rem;
}

.awards-controls .swiper-button-prev:hover,
.awards-controls .swiper-button-next:hover {
    background: #e0a800;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}
.awards-controls .swiper-button-prev::after,
.awards-controls .swiper-button-next::after {
    font-size: 16px;
    font-weight: bold;
}
.awards-controls .swiper-pagination {
    position: static;
    display: flex;
    align-items: center;
} */


/* TFS Network Logos Start */
.tfs-network-logos{
  padding: 4rem 5% 7.5rem 5%;
}
.tfs-network-logos h6{
  color: #fff;
  font-size: calc(5.5rem + 0.5vw);
  font-weight: 700;
}
.tfs-network-logos h6 span{
  color: #fcb913;
}
.tfs-network-logos p{
  color: #fff;
  font-size: calc(2rem + 0.5vw);
  font-weight: 500;
  width: max-content;
  transition: color 0.3s ease;
}
.tfs-network-logos p:hover{
  color: #fcb913;
}
.network-logo-row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 5rem;
}
.network-logo-row .network-logo-box{
  width: 24%;
  background-color: #1e1e1e;
  border-radius: 15px;
  padding: 3rem;
  transition: background-color 0.1s ease, box-shadow 0.3s ease;
  position: relative;
}
.network-logo-row .network-logo-box:hover{
  background-color: #1b1b1b;
  box-shadow: 0 0 10px #ffcd4f84;
  box-shadow: #fdb71558 0px 3px 6px, #fdb71558 0px 3px 6px;
}
.network-logo-row .network-logo-box img{
  width: 100%;
  filter: grayscale(100%) brightness(200%) contrast(100%);
  transition: filter 0.2s ease-in-out;
}
.network-logo-row .network-logo-box:hover img{
  filter: none;
}
.network-logo-row .network-logo-box:last-child img{
  filter: none;
  transition: opacity 0.3s ease;
  opacity: 1;
}
.network-logo-row .network-logo-box:last-child img.fade{
  opacity: 0;
}
.network-logo-row .network-logo-box span{
  position: absolute;
  top: 1.5rem;
  left: 2rem;
  color: #fff;
  font-size: calc(1.5rem + 0.5vw);
  font-weight: 600;
  display: block;
  transition: color 0.3s ease;
}
.network-logo-row .network-logo-box:hover span{
  color: #fcb913;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px){
  .tfs-network-logos{
    padding: 3.5rem 5% 7rem 5%;
  }
  .tfs-network-logos h6{
    font-size: calc(5rem + 0.5vw);
  }
  .tfs-network-logos p{
    font-size: calc(1.7rem + 0.5vw);
  }
  .network-logo-row{
    margin-top: 4.5rem;
  }
  .network-logo-row .network-logo-box{
    padding: 2.8rem;
  }
  .network-logo-row .network-logo-box span{
    top: 1.2rem;
    left: 1.8rem;
    font-size: calc(1.4rem + 0.5vw);
  }
}

@media screen and (min-width: 992px) and (max-width: 1229px){
  .tfs-network-logos{
    padding: 3.5rem 5% 6rem 5%;
  }
  .tfs-network-logos h6{
    font-size: calc(4.5rem + 0.5vw);
  }
  .tfs-network-logos p{
    font-size: calc(1.5rem + 0.5vw);
  }
  .network-logo-row{
    margin-top: 4rem;
  }
  .network-logo-row .network-logo-box{
    padding: 2.5rem;
  }
  .network-logo-row .network-logo-box span{
    top: 1rem;
    left: 1.6rem;
    font-size: calc(1.3rem + 0.5vw);
  }
}
/* TFS Network Logos End */

/* Work Together Start */
.work-together{
  padding: 5.5rem 5% 6.5rem 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
.work-together span{
  font-size: calc(1.8rem + 0.5vw);
  font-weight: 650;
  display: block;
  margin-bottom: 1.5rem;
}
.work-together p{
  width: max-content;
  font-size: calc(9.5rem + 0.5vw);
  font-weight: 750;
  margin: 0;
  line-height: 1;
  transition: color 0.6s ease;
}
.work-together p:hover{
  color: #fcb913;
}
.work-together .btn-row{
  margin-top: 3rem;
}
.work-together .btn-row button{
  border: none;
  background-color: #fff;
  color: #000;
  padding: 1.8rem 2.5rem;
  border-radius: 50px;
  font-size: calc(0.9rem + 0.5vw);
  font-weight: 600;
  transition: all 0.3s ease;
}
.work-together .btn-row a:last-child button{
  padding: 1.75rem 2.2rem;
  border-radius: 50%;
  font-size: calc(1rem + 0.5vw);
}
.work-together .btn-row button:hover{
  color: #fff;
  background-color: #fcb913;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px){
  .work-together{
    padding: 5rem 5% 6rem 5%;
  }
  .work-together span{
    font-size: calc(1.65rem + 0.5vw);
    margin-bottom: 1.3rem;
  }
  .work-together p{
    font-size: calc(8.65rem + 0.5vw);
  }
  .work-together .btn-row{
    margin-top: 2.5rem;
  }
  .work-together .btn-row button{
    padding: 1.7rem 2.5rem;
    font-size: calc(0.8rem + 0.5vw);
  }
  .work-together .btn-row a:last-child button{
    padding: 1.6rem 2.05rem;
    font-size: calc(1rem + 0.5vw);
  }
}

@media screen and (min-width: 992px) and (max-width: 1229px){
  .work-together{
    padding: 4.5rem 5% 5.5rem 5%;
  }
  .work-together span{
    font-size: calc(1.4rem + 0.5vw);
    margin-bottom: 1.2rem;
  }
  .work-together p{
    font-size: calc(7.7rem + 0.5vw);
  }
  .work-together .btn-row{
    margin-top: 2rem;
  }
  .work-together .btn-row button{
    padding: 1.4rem 2.2rem;
    font-size: calc(0.7rem + 0.5vw);
  }
  .work-together .btn-row a:last-child button{
    padding: 1.3rem 1.75rem;
    font-size: calc(0.9rem + 0.5vw);
  }
}
/* Work Together End */

/* Footer Start */
footer{
  background-color: #111;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  display: flex;
  justify-content: space-between;
  padding: 2rem 5% 2rem 3%;
}
footer .foot-logo{
  width: 28%;
  padding: 5rem;
  border-right: 1px solid #313131;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .foot-logo img{
  width: 100%;
}
footer .foot-content{
  width: 67%;
  padding: 2rem 0 0 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .foot-content-box{
  width: 30%;
  margin-bottom: 2rem;
}
footer .foot-content-box span{
  display: block;
  color: #fff;
  font-size: calc(1.8rem + 0.5vw);
  font-weight: 600;
  margin-bottom: 1rem;
}
footer .foot-content-box a,
footer .foot-content-box p{
  display: block;
  color: #fff;
  font-size: calc(0.85rem + 0.5vw);
  font-weight: 500;
  margin-bottom: 0.4rem;
  text-decoration: none;
  transition: color 0.3s ease;
}
footer .foot-content-box a{
  width: max-content;
}
footer .foot-content-box a:hover{
  color: #fcb913;
  text-decoration: underline;
}
footer .foot-content-box .bi-envelope-check-fill{
  font-size: calc(1.5rem + 0.5vw);
}
footer .social-btns{
  display: flex;
  gap: 1rem;
}
footer .social-btns a{
  background-color: #282828;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  display: block;
  color: #fff;
  font-size: calc(0.8rem + 0.5vw);
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  transition: all 0.2s ease;
}
footer .social-btns a:hover{
  background-color: #fcb913;
  color: #fff;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px){
  footer{
    padding: 2rem 5% 2rem 3%;
  }
  footer .foot-logo{
    padding: 4rem;
  }
  footer .foot-content{
    padding: 1.8rem 0 0 0;
  }
  footer .foot-content-box{
    margin-bottom: 1.5rem;
  }
  footer .foot-content-box span{
    font-size: calc(1.6rem + 0.5vw);
    margin-bottom: 0.8rem;
  }
  footer .foot-content-box a,
  footer .foot-content-box p{
    font-size: calc(0.8rem + 0.5vw);
    margin-bottom: 0.35rem;
  }
  footer .foot-content-box .bi-envelope-check-fill{
    font-size: calc(1.3rem + 0.5vw);
  }
  footer .social-btns{
    gap: 1rem;
  }
  footer .social-btns a{
    width: 42px;
    height: 42px;
    line-height: 42px;
    font-size: calc(0.75rem + 0.5vw);
    border-top-right-radius: 11px;
    border-bottom-left-radius: 11px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1229px){
  footer{
    padding: 1.8rem 5% 1.8rem 3%;
  }
  footer .foot-logo{
    padding: 3rem;
  }
  footer .foot-content{
    padding: 1.6rem 0 0 0;
  }
  footer .foot-content-box{
    margin-bottom: 1.3rem;
  }
  footer .foot-content-box span{
    font-size: calc(1.4rem + 0.5vw);
    margin-bottom: 0.7rem;
  }
  footer .foot-content-box a,
  footer .foot-content-box p{
    font-size: calc(0.7rem + 0.5vw);
    margin-bottom: 0.3rem;
  }
  footer .foot-content-box .bi-envelope-check-fill{
    font-size: calc(1.1rem + 0.5vw);
  }
  footer .social-btns{
    gap: 0.8rem;
  }
  footer .social-btns a{
    width: 38px;
    height: 38px;
    line-height: 38px;
    font-size: calc(0.67rem + 0.5vw);
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}
/* Footer End */
