/* Public Relations Page Styles Start */

/* Stacking Sections Start */
#pr-stack-section-1{
    background-color: #242520;
    height: 100vh;
}
#pr-stack-section-2{
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    background-color: #111;
    box-shadow: 0px -7px 10px 0px #fcba1340;
}
/* Stacking Sections End */

/* Navbar Start */
.navbar{
    background-color: #242520;
}
.navbar .navbar-brand img{
    width: 75px;
}
.navbar .social-btns a{
  background-color: #333333;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px){
    .navbar .navbar-brand img{
        width: 68px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px){
    .navbar .navbar-brand img{
        width: 60px;
    }
}
/* Navbar End */

/* Verticals Internal Banner Start */
.verticals-internal-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 5% 4rem 5%;
}
.verticals-internal-banner .banner-left{
    width: 57%;
}
.verticals-internal-banner .banner-left h1{
    color: #fff;
    font-size: calc(5.5rem + 0.5vw);
    font-weight: 700;
    margin-top: 4rem;
    margin-bottom: 3rem;
    line-height: 1;
    transform: translateY(70px);
    opacity: 0;
}
.verticals-internal-banner .banner-left h1 span{
    color: #fcb913;
}
.verticals-internal-banner .banner-left p{
    color: #fff;
    font-size: calc(0.8rem + 0.5vw);
    font-weight: 500;
    transition: color 0.2s ease;
    opacity: 0;
}
.verticals-internal-banner .banner-left p:hover{
    color: #fcb913;
}
.verticals-internal-banner .banner-right{
    width: 38%;
}
.verticals-internal-banner .banner-right img{
    width: 100%;
    margin-top: -2rem;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px){
    .verticals-internal-banner{
        padding: 0 5% 3rem 5%;
    }
    .verticals-internal-banner .banner-left h1{
        font-size: calc(5rem + 0.5vw);
        margin-top: 3.7rem;
        margin-bottom: 2.6rem;
    }
    .verticals-internal-banner .banner-left p{
        font-size: calc(0.75rem + 0.5vw);
    }
    .verticals-internal-banner .banner-right img{
        margin-top: -2rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px){
    .verticals-internal-banner{
        padding: 0 5% 2rem 5%;
    }
    .verticals-internal-banner .banner-left h1{
        font-size: calc(4.5rem + 0.5vw);
        margin-top: 3.2rem;
        margin-bottom: 2.2rem;
    }
    .verticals-internal-banner .banner-left p{
        font-size: calc(0.65rem + 0.5vw);
    }
    .verticals-internal-banner .banner-right img{
        margin-top: -2rem;
    }
}
/* Verticals Internal Banner End */

/* Public Relations Page Styles End */

/* ---------------------------------------------------------------------------------------------------------------------------- */